* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: lightgrey;
}

h1{
	color: slategrey;
}

.stopwatch-timer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

ul li {
  display: inline-block;
  padding: 0 5px;
  font-family: sans-serif;
  text-align: center;
}

ul li span {
  display: block;
  font-size: 50px;
  padding-top: 5px;
  color: slategrey;
  font-weight: 600;
}

ul li span:nth-child(2) {
  font-size: 20px;
}

ul li span:nth-child(2) {
  font-size: 15px;
}

